:root {
  --mainColor: gray;
  --subColor: white;

  --borderColor: gray;

  --mainText: black;
  --subText: gray;

  --themeDotBorder: black;

  --previewBG: rgb(251, 249, 243, 0.8);
  --previewShadow: rgba(110, 147, 92, 0.721);
}